version: '3.8'

services:
  #  USER SERVICE
  user-service:
    build: ./user-service
    container_name: bs2_user
    ports:
      - "6000:6000"
    environment:
      - PORT=6000
      - MONGO_URI=mongodb+srv://Jcarvajal0810:Nutella_0810@sharedm0.d3q2w0n.mongodb.net/userdb?retryWrites=true&w=majority&appName=SharedM0
      - JWT_SECRET=WNXRO/cJDB5vORlhPq0098HAlggUdTu/Tk+E7Aqsd54=
    restart: unless-stopped

  #  USER SCHEDULER
  user-scheduler:
    build: ./user-scheduler
    container_name: bs2_user_scheduler
    environment:
      - USER_SERVICE_URL=http://user-service:6000
      - MONGO_URI=mongodb+srv://Jcarvajal0810:Nutella_0810@sharedm0.d3q2w0n.mongodb.net/userdb?retryWrites=true&w=majority&appName=SharedM0
    depends_on:
      - user-service
    restart: unless-stopped

  #  CATALOG SERVICE
  catalog:
    build: ./catalog
    container_name: bs2_catalog
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb+srv://Jcarvajal0810:Nutella_0810@sharedm0.d3q2w0n.mongodb.net/catalogdb?retryWrites=true&w=majority&appName=SharedM0
    restart: unless-stopped

  #  ORDER SERVICE
  order:
    build: ./order
    container_name: bs2_order
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb+srv://Jcarvajal0810:Nutella_0810@sharedm0.d3q2w0n.mongodb.net/orderdb?retryWrites=true&w=majority&appName=SharedM0
      - IN_DOCKER=true
    depends_on:
      - inventory-grpc
    restart: unless-stopped

  #  CART SERVICE
  cart:
    build: ./cart-service
    container_name: bs2_cart
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb+srv://Jcarvajal0810:Nutella_0810@sharedm0.d3q2w0n.mongodb.net/cartdb?retryWrites=true&w=majority&appName=SharedM0
      - PORT=5000
    restart: unless-stopped

  #  INVENTORY REST (FastAPI)
  inventory:
    build: ./inventary-service
    container_name: bs2_inventory
    command: ["uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb+srv://Jcarvajal0810:Nutella_0810@sharedm0.d3q2w0n.mongodb.net/inventorydb?retryWrites=true&w=majority&appName=SharedM0
      - PORT=8000
    restart: unless-stopped

  #  INVENTORY gRPC SERVER
  inventory-grpc:
    build:
      context: ./inventary-service
      dockerfile: Dockerfile
    container_name: bs2_inventory_grpc
    command: ["python", "src/grpc_server.py"]
    ports:
      - "50051:50051"
    restart: unless-stopped

  #  PAYMENT SERVICE
  payment:
    build: ./payment-service
    container_name: payment-service-payu
    ports:
      - "7000:7000"
    environment:
      - MONGO_URI=mongodb+srv://Jcarvajal0810:Nutella_0810@sharedm0.d3q2w0n.mongodb.net/paymentdb?retryWrites=true&w=majority&appName=SharedM0
      - PORT=7000
      - PAYU_ACCOUNT_ID=512321
      - PAYU_MERCHANT_ID=508029
      - PAYU_API_LOGIN=pRRXKOl8ikMmt9u
      - PAYU_API_KEY=4Vj8eK4rloUd272L48hsrarnUA
      - PAYU_PUBLIC_KEY=PKaC6H4cEDJD919n705L544kSU
    restart: unless-stopped

  #  API GATEWAY
  api-gateway:
    build: ./api-gateway
    container_name: bs2_gateway
    ports:
      - "4500:4500"
    environment:
      - PORT=4500
      - CATALOG_SERVICE_URL=http://catalog:3000
      - CART_SERVICE_URL=http://cart:5000
      - ORDER_SERVICE_URL=http://order:4000
      - PAYMENT_SERVICE_URL=http://payment:7000
      - INVENTORY_SERVICE_URL=http://inventory:8000
      - INVENTORY_GRPC_URL=inventory-grpc:50051
      - USER_SERVICE_URL=http://user-service:6000
    depends_on:
      - user-service
      - catalog
      - cart
      - order
      - payment
      - inventory
      - inventory-grpc
    restart: unless-stopped

  #  FRONTEND
  frontend:
    build: ./Front-end-BookStore
    container_name: bs2_frontend
    ports:
      - "3500:3500"
    environment:
      - VITE_API_GATEWAY=http://localhost:4500
    depends_on:
      - api-gateway
    restart: unless-stopped

volumes:
  mongo_data:
