apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: jcarvajal0810/bookstore-prube-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3500
          env:
            - name: VITE_API_GATEWAY
              # ⚠️ Si usas Minikube o Kubernetes local, el API Gateway se expone por LoadBalancer.
              # Cuando lo despliegues, obtén la URL externa con:
              # minikube service api-gateway --url
              # y reemplázala abajo si es necesario.
              value: "http://api-gateway:4500"
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
